:root {
	--Pfont: "Baloo Bhai 2", "cursive";
	--Sfont: "Ubuntu", "Sans-serif";
	--Pcolor: rgb(138, 43, 226);
	--Scolor: rgb(240, 39, 140);
	--Tcolor: rgb(196, 201, 26);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "ubuntu", "Times New Roman", sans-serif;
}
body {
	/* background-color: rgb(196, 81, 15); */
	max-width: 100vw;
}
/* .intro {
	background-color: rgba(192, 115, 15, 0 1);
	color: rgb(10, 10, 10);
	text-align: center;
	margin: 0px;
} */

main {
	background-color: rgb(130, 196, 197);
	margin-top: 0px;
	max-width: 100vw;
	border: 2px solid black;
}

h1 {
	font-size: 2rem;
	margin-bottom: 10px;
	text-align: center;
}
h4 {
	text-align: center;
	margin: 5px;
	color: #050505;
	font-size: 1.2rem;
}

/* Navigation bar style start here*/

/* Navigation bar style ends Here  */

table,
th,
td {
	border: 1px solid black;
	margin: auto;
	width: 90vw;
	border-collapse: collapse;
}

#container {
	display: grid;
	/* max-width: 100vw; */
	background-color: rgb(223, 174, 146);
	grid-template-areas:
		" main1 main1 aside" "main2 main2 aside"
		" main3 main3 aside"
		"footer footer footer";
}
p {
	line-height: 1.2rem;
	margin: 1rem;
}
#aside {
	grid-area: aside;
	display: none;
	background-color: rgb(62, 199, 176);
	border: 2px solid black;
}

#main1 {
	grid-area: main1;
	background-color: rgb(223, 174, 146);
	text-align: center;
	margin-bottom: 5px;
	/* border: 2px solid black; */
}
#main2 {
	grid-area: main2;
	background-color: rgb(223, 174, 146);
	/* border: 2px solid black; */
}
#main3 {
	grid-area: main3;
	background-color: rgb(223, 174, 146);
}
#footer {
	grid-area: footer;
}
